<%- include('partials/head') %>

    <%- include('partials/nav') %>

    <div class="container" style="height: 100vh;">
        <h1 class="display-5 fw-bold lh-1 mt-5 mb-3">Let's get started. What's your name?</h1>
        

    </div>


    <%- include('partials/footer') %>