#logo-nav{
    filter: invert();
}

.title{
    background-color: #37517e;
}

nav{
    background-color: #37517e;
}

.intro{
    width: 100%;
    height: 25em;
    background-color: #37517e;
}

#banner{
    background-color: #37517e;
    height: 10em;
    width: 100%;
}